<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }
    .header{
      display:flex;
      justify-content: space-between;
      background-color:#66CCFF;
      line-height: 40px;
      margin-bottom: 40px;
    }
    .h-box{
      padding:0 20px;
    }
    .box{
      background-color: #eee;
      padding:20px;
      margin-bottom: 20px;
    }
    .questions{
      float:left;
      width: 49%;
      border: 1px solid #22CCFF;
      padding: 10px;
    }
    .comments{
      float:right;
      width: 49%;
      border: 1px solid #22CCFF;
      padding: 10px;
    }
  </style>
</head>


<div class="main">

	<div class="header">
		<div class="h-box">
    		<strong>
      			<%= link_to '首页' , root_path %>
    		</strong>
  		</div>

		<div class="h-box">
		  	<strong>The current user is:</strong>
		 	<%= link_to @user.email , show_user_path %>
	    </div>
	  	<div class="h-box">
	  		<%= link_to "Log out" , destroy_user_session_path, :method => :delete %>
		</div>
	</div>


<div class="body">

  <div class="questions">
  	<p>You have asked: <strong><%= @questions.count %></strong> questions already!</p>
  	<p>Here are your questions:</p>
  	<% @questions.each do |t| %>
        <div class="box">
  	  	  <p><%= link_to t.title , t%></p>
        </div>
	  <% end %>
  </div>


  <div class="comments">
	  <p>You have commented: <strong><%= @comments.count %></strong> comments already!</p>
	  <p>Here are your comments:</p>
	  <% @comments.each do |t| %>
      <div class="box">
		    <p><%= link_to t.content , question_path(:id => t.question_id)%></p>
      </div>
	  <% end %>
  </div>


</div>

</div>