<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }
    .header{
      display:flex;
      justify-content: space-between;
      background-color:#66CCFF;
      line-height: 40px;
      margin-bottom: 40px;
    }
    .h-box{
      padding:0 20px;
    }
  }
  </style>
</head>


<div class="main">

	<div class="header">
		<div class="h-box">
    		<strong>
      			<%= link_to '首页' , root_path %>
    		</strong>
  		</div>

		<div class="h-box">
		  	<strong>The current user is:</strong>
		 	<%= link_to @user.email , show_user_path %>
	    </div>
	  	<div class="h-box">
	  		<%= link_to "Log out" , destroy_user_session_path, :method => :delete %>
		</div>
	</div>




	<p>You have asked: <%= @questions.count %> questions already!</p>
	<p>Here are your questions:</p>
	<% @questions.each do |t| %>
	  	<p><%= link_to t.title , t%></p>
	<% end %>

	<p>You have commented: <%= @comments.count %> comments already!</p>
	<p>Here are your comments:</p>
	<% @comments.each do |t| %>
		<p><%= link_to t.content , question_path(:id => t.question_id)%></p>
	<% end %>

</div>