<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }
    .header{
      display:flex;
      justify-content: space-between;
      background-color:#66CCFF;
      line-height: 40px;
      margin-bottom: 40px;
    }
    .h-box{
      padding:0 20px;
    }
    .box{
      background-color: #eee;
      padding:20px;
      margin-bottom: 20px;
    }
      .body{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
  </style>
</head>


<div class="main">

	<div class="header">
		<div class="h-box">
    		<strong>
      			<%= link_to '首页' , root_path %>
    		</strong>
  		</div>

		<div class="h-box">
		  	<strong>The current user is:</strong>
		 	<%= link_to @user.email , show_user_path %>
	    </div>
	  	<div class="h-box">
	  		<%= link_to "Log out" , destroy_user_session_path, :method => :delete %>
		</div>
	</div>


<p>This is <strong><%= @user_by_email.email %></strong> 's information page: </p>
<div class="body">
  <div>
      <p>He/She has asked: <strong><%= @questions.count %></strong> questions already!</p>
	    <p>Here are his/her questions:</p>
	    <% @questions.each do |t| %>
        <div class="box">
	  	    <p><%= link_to t.title , t%></p>
        </div>
	    <% end %>
  </div>

  <div>
	  <p>He/She has commented: <strong><%= @comments.count %></strong> comments already!</p>
	  <p>Here are his/her comments:</p>
	  <% @comments.each do |t| %>
      <div class="box">
		    <p><%= link_to t.content , question_path(:id => t.question_id)%></p>
      </div>
	  <% end %>
  </div>
</div>
</div>