<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }
    .header{
      display:flex;
      justify-content: space-between;
      background-color:#0099FF;
      line-height: 40px;
      margin-bottom: 40px;
    }
    .h-box{
      padding:0 20px;
    }
  }
  </style>
</head>


<div class="main">

	<div class="header">
		<div class="h-box">
		  	<strong>The current user is:</strong>
		 	<%= link_to @user.email , show_user_path %>
	    </div>
	  	<div class="h-box">
	  		<%= link_to "Log out" , destroy_user_session_path, :method => :delete %>
		</div>
	</div>


	<p><%= @user.email %></p>

	<p><%= link_to "修改个人信息", info_user_path %>

	<p><%= @questions.count %> </p>
	
	<% @questions.each do |t| %>
	  <p><%= link_to t.title , t%></p>
	<% end %>

	<p><%= @comments.count %></p>
	
	<% @comments.each do |t| %>
	<p><%= link_to t.content , question_path(:id => t.question_id)%></p>
	<% end %>

</div>