<h1>Welcome you gays</h1>
<h2>This is your projects:</h2>


<%= form_for :uploadFile, url: {:action => "uploadFile"} do |f| %>
	<div>
		<%= f.label "Input your title:" %>
		<%= f.text_field :fileTitle , :size => 20 %>
	</div>

	<div>
		<%= f.label "Input your file content:" %>
		<%= f.text_area :fileContent , :rows => 20 ,:cols => 15 %>
	</div>
	<%= f.submit "Upload your file" %>
<% end %>
