<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }

    .input-width-max > input {
      width: 100%;
    }

    .textarea-width-max > textarea {
      width: 100%;
    }

    .textarea-height-400 > textarea {
      height: 400px;
    }

    .submit-button > input {
      display: block;
      width: 400px;
      height: 40px;
      background-color: blue;
      font-size: 24px;
      color: white;
      margin: 0 auto;
    }

    .text-center {
      text-align: center;
    }

    .font-bold {
      font-weight: bold;
    }

    .f-22 {
      font-size: 22px;
    }
  </style>
</head>
<body>
<div class="header">

</div>
<div class="section">
  <div class="main">
    <h1 class="text-center font-bold">写下你的问题</h1>
    <p class="text-center f-22">描述精确的问题更容易得到解答</p>
    <% @user = current_user %>
    <%= form_for :question do |f| %>
      <%= f.label :title %>
      <div class="input-width-max">
        <%= f.text_field :title %>
      </div>
      <p>
        <%= f.label :content %><br>
      <div class="textarea-width-max textarea-height-400">
        <%= f.text_area :content %>
      </div>
      </p>
      <%= f.hidden_field :asker, :value => @user.email %>
      <div class="submit-button">
        <%= f.submit :提交问题 %>
      </div>
    <% end %>
  </div>
</div>
</body>

