<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }

    .popular-box {
      width: 100%;
      border: 1px solid #efefef;
      background-color: #efefef;
      margin-bottom: 5px;
      box-shadow: 5px 5px 5px #999;
      padding-left: 50px;
      cursor: pointer;
    }

    .popular-title {
      font-size: 24px;
      font-weight: bold;
      line-height:40px;
    }

    .popular-asker {
      padding-left: 30px;
    }
  </style>
</head>
<body>


<p>
  <strong>The current user is:</strong>
  <%= link_to @user.email , show_user_path %>
  <%= link_to "Log out" , destroy_user_session_path, :method => :delete %>
</p>

<div class="main">
  <h1>Here is question page</h1>
  <% @populars.each do |t| %>
    <div class="popular-box">
      
      <div class="popular-title">
        <!-- <%= t.title %> -->
        <%= link_to t.title, t %>
      </div>

      <div class="popular-asker">
        提问者：
        <%= t.asker %>
        &nbsp;
        赞:
        <%= t.stars %>
      </div>

      <!-- <%= link_to 'show this question', t %> -->
    </div>

  <% end %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Asker</th>
  </tr>

  <% @questions.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td><%= t.content %></td>
      <td><%= t.asker %></td>
      <td><%= link_to 'show this question', t %></td>
    </tr>
  <% end %>
</table>





</body>

