<head>
  <style type="text/css">
    .main {
      width: 960px;
      margin: 0 auto;
    }

    .question-box {
      width: 100%;
      border: 1px solid #efefef;
      background-color: #efefef;
      margin-bottom: 30px;
      box-shadow: 5px 5px 5px #999;
      padding: 10px;
      cursor: pointer;
    }

    .question-title {
      font-size: 24px;
      font-weight: bold;
      line-height:40px;
    }
  </style>
</head>
<body>
<div class="main">
  <h1>Here is question page</h1>
  <% @populars.each do |t| %>
    <div class="question-box">
      <div class="question-asker">
        提问者：
        <%= t.asker %>
      </div>
      <div class="question-title">
        <!-- <%= t.title %> -->
        <%= link_to t.title, t %>
      </div>
      <div class="question-content">
        <%= t.content %>
      </div>
      <!-- <%= link_to 'show this question', t %> -->
    </div>

  <% end %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Asker</th>
  </tr>

  <% @populars.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td><%= t.content %></td>
      <td><%= t.asker %></td>
      <td><%= link_to 'show this question', t %></td>
    </tr>
  <% end %>
</table>

</body>

