<p>This is single question</p>
<p><%= @user.email %></p>
<p><%= @user.question_num%></p>

<table>
	<tr>
		<th>Title</th>
		<th>Content</th>
		<th>Asker</th>
	</tr>

	<tr>
		<td><%= @question.title %></td>
		<td><%= @question.content %></td>
		<td><%= @question.asker %></td>
		<td><%= @question.stars %></td>
		<td><%= link_to 'Star!' , star_question_path(:question => @question.id) %>
	</tr>

	<tr>
		<td><strong>Comment</strong></td>
	</tr>

	<tr>
		<th>Commenter</th>
		<th>Reply</th>
		<th>Content</th>
		<th>Stars</th>
	</tr>

	<% @comments.each do |t| %>
	<table>
		<tr>
			<td><%= t.commenter %></td>
			<td><%= t.reply_to %></td>
			<td><%= t.content %></td>
			<td><%= t.stars %></td>
			<td><%= link_to 'Star!' , star_comment_path(:comment => t.id) %></td>

		</tr>

		<tr>
			<%= form_for :comment do |f| %>
				<p>
					<%= f.label :reply %>
					<%= f.text_area :content %>
				</p>
				<%= f.hidden_field :question_id, :value => params[:id] %>
  				<%= f.hidden_field :reply_to, :value => @reply_to %>
  				<%= f.hidden_field :commenter, :value => @user.email %>

				<p>
					<%= f.submit :回复 %>
				</p>
			<% end %>
		</tr>

	<%end%>
	</table>

</table>


<%= form_for :comment do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  	<%= f.hidden_field :question_id, :value => params[:id] %>
  	<%= f.hidden_field :reply_to, :value => @reply_to %>
  	<%= f.hidden_field :commenter, :value => @user.email %>


  <p>
    <%= f.submit :发布%>
  </p>
<% end %>
